__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
.env
*.log

data/database.db
data/attachments/*
!data/attachments/.gitkeep
imports/*
!imports/.gitkeep
exports/*
!exports/.gitkeep
backups/*
!backups/.gitkeep
templates/*
!templates/.gitkeep
